
#header{
justify-content: center;
position: absolute;
height: 700px;
color: lemonchiffon;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background: rgb(75, 72, 72);
}

.calculator
{
    position: absolute;
    display: grid;

}
.calculator .value
{
    grid-column: span 5;
    grid-row: span 5;
    height: 50px;
    text-align: right;
    background: rgb(230, 198, 198);
    border: chartreuse;
    outline: coral;
    padding: 10px;
    font-size: 18px;
}
.calculator span
{
  display: grid;  
  width: 60px;
  height: 60px;
  color: rgb(185, 185, 172);
  background: rgb(7, 7, 12);
  place-items: center;
}

.calculator span:active
{
  color: rgb(185, 185, 172);
  background: rgb(65, 65, 122);
  
}

.calculator span.clear
{
  grid-column: span 1;
  width: 60px;
  background: rgb(88, 32, 32);
  
}
.calculator span.backspace
{
  grid-column: span 2;
  width: 120px;
  background: rgb(66, 49, 49);
  
}

.calculator span.zero
{
  grid-column-end: span 1;
  width: 60px;
  
}

.calculator span.equal
{
  grid-row: span 1;
  height: 60px;
  background: rgb(53, 85, 43);
}

.calculator span.plus
{
  grid-row: span 1;
  height: 60px;
  
}

.calculator span.minus
{
  grid-row: span 1;
  height: 60;
  
}
/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
    top:-400px;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }